* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0px 100px;
}

.navbar {
  display: flex;
  width: 73vw;
  justify-content: space-between;
  font-size: 24px;
}

.logo {
  display: flex;
  align-items: center;
}

.all-jobs {
  padding: 7px 24px;
  border-bottom: 2px solid #000;
}

.banner {
  width: 100vw;
  height: 243px;
  display: flex;
  align-items: center;
  background-image: url("./imgs/banner.png");
  background-position: center;
   --contentWidth: 73vw;
  padding: 2rem calc((100% - var(--contentWidth)) / 2);
}

#search {
  outline: none;
  border: none;
  width: 100%;
  padding: 15px;
}

.search-box {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #E2E8F0;
  width: 73vw;
  margin: 43px auto;
}

.jobs-and-department-wrapper {
  display: flex;
  justify-content: center;

}

.job {
  display: flex;
  align-items: flex-start;
  padding: 43px 43px;
  cursor: pointer;
}

.job:hover {
  color: blue;
}

.job-text {
  width: 300px;
}

.title {
  margin-bottom: 6px;
}

.company {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 13px;
}

.overview {
  font-size: 14px;
  font-weight: 400;
}

.forward {
  padding-top: 3px;
}